.top-container {
    background-color: red;
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    left: 450px;
}

.middle-container {
    background-color: blue;
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    right: 150px;
}

.bottom-container {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    right: 150px;
}